h4 {
  font-weight: bold;
}

a {
  color: #a90000;
}

a:hover {
  color: #a90000;
  font-weight: bold;
}

.main-bar, .main-bar div ul {
  background-color: black;
  color: white;
}

.btn-search {
  background-color: white;
  color: black;
}

.navigation-menu {
  padding: 0;
}

.navigation-menu li a:hover {
  background-color: gray;
  color: white;
}

.navigation-menu ul li a {
  color: black;
}

.small-menu-navigation {
  width: 100%;
  background-color: rgb(39, 39, 39);
}

.small-menu-navigation > div {
  width: 100%;
  font-size: 11pt;
}

.small-menu-navigation > div > a {
  color: white;
  width: 100%;
  display: block;
  padding: .5rem .7rem;
}

.small-menu-navigation-submenu {
  background-color: white;
  padding: 1rem .75rem;
  margin-top: .5rem;
}

.small-menu-navigation-submenu div a {
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.small-menu-navigation-submenu div a i {
  padding-right: 7px;
}

.small-menu-navigation-submenu div a:hover {
  font-weight: bold;
}

.submenu-active {
  background-color: rgb(58, 57, 57) !important;
}

.right-panel {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: .5rem;
}

.other-tools p {
  margin: 0;
}

.sub-title {
  color: #ff6600;
  font-weight: bold;
}

.active {
  background-color: gray;
  color: white !important;
}

.desktop-menu > div {
  background-color: lightgray;
}

.desktop-menu {
  z-index: 500000 !important;
}

.desktop-menu-button:hover {
  font-weight: normal;
}

.desktop-menu-option > div > a {
  padding-top: 10px;
}

.main-title {
  font-weight: bold;
  color: #a90000;
}

.muted {
  color: rgb(170, 168, 168)
}

.summary-item {
  padding: 5px !important;
  padding-left: 10px !important;
}

.numeration {
  color: #ff6600;
  font-weight: bold;
}

